<section id="education">
    <h2>Education</h2>
    <h4>Master's in Mechanical Engineering — University of Sheffield (2021-2025) </h4>
    <h5>Upper Second class (2:1) with
        Honours, First class achieved in final year/masters thesis.</h5>
    <p style="text-align: justify;">Excellent theory-backed and hands-on degree at a top 100 worldwide
        university. With a thesis on
        developing
        free open-source software for structural dynamics and modal analysis. While the thesis is submitted, I am
        still committed to improving the software package, through adding algorithms in the backend, and
        developing a frontend layer.</p>

    <!-- Hyperlinks to modules and their content -->
    <p>Notable courses & grades:</p>
    <ul class="indented">
        <li><a href="https://www.sheffield.ac.uk/programmeregulationsfinder/unit?code=MEC312&org=SHEFFIELD&start=2000-09-25&loc=SHEFFIELD&cal=SPR%20SEM&year=2014"
                , target="_blank">
                Advanced Solid Mechanics ↗</a> — 76</li>


        <li> <a href="https://www.sheffield.ac.uk/programmeregulationsfinder/unit?code=MEC313&org=SHEFFIELD&start=2000-09-25&loc=SHEFFIELD&cal=SPR%20SEM&year=2023"
                , target="_blank">Finite Element Modelling ↗</a>
            — 75</li>


        <li><a href="https://www.sheffield.ac.uk/programmeregulationsfinder/unit?code=MAS254&org=SHEFFIELD&start=2009-09-28&loc=SHEFFIELD&cal=SPR%20SEM&year=2022"
                , target="_blank">Numerical
                Mathematics ↗</a> — 75</li>


        <li><a href="https://sheffield.ac.uk/mac/postgraduate/mech-eng/preparing/advanced-dynamics" ,
                target="_blank">Advanced Dynamics ↗</a> — 71 </li>


    </ul>
    <h4>International Baccalaureate Diploma (2019-2021)</h4>
    <ul class="indented">
        <li>Total Score of 36/45</li>
        <li>Higher Level Mathematics: 7/7 (A-Level: A*)</li>
        <li>Higher Level Physics: 7/7 (A-Level: A*)</li>
        <li>Higher Level English: 6/7 (A-Level: A)</li>
        <li>Economics: 6/7 (A-Level: A)</li>
        <li>Chemistry: 4/7 (A-Level: C)</li>
        <li>Arabic Literature: 4/7 (A-Level: C)</li>
        <li>Epistemology: A (A-Level: A*)</li>
        <li>Physics Personal Essay: B (A-Level: A)</li>
    </ul>
</section>