<section id="projects">
    <h2>Experience &amp; Projects</h2>

    <div class="project">
        <img src="assets\img\MAC-10dof-clean.png" alt="Screenshot of Project 1" />
        <div>
            <h3>Open-Source Python library for Dynamics</h3>
            <ul>
                <li>Collaborative <b>Software Development</b> project with academics.</li>
                <li>Created an open-source Python library for structural dynamics and modal analysis.</li>
                <li>Contributed over <b>2000 lines </b> so far.</li>
                <li>Reducing uncertainty in mechanical, aerospace, and structural engineering practice</li>
                <li> Standardises analysis of experimental and operational structural dynamic data.</li>
                <li><b>£20K p.a. per device saved</b> in software license fees.</li>
            </ul>
            <p><a href="https://github.com/yourusername/project1" target="_blank">View on GitHub ↗</a> — <button
                    class="read-more" data-modal-source="modal-fypma">Read more</button></p>
        </div>


        <div id="modal-fypma" class="modal-template" hidden>
            <h5 hidden>Open-Source Python library for Dynamics</h5>
            <p style="color:red;">
                Work in progress
            </p>
        </div>
    </div>



    <div class="project">
        <img src="assets/img/echo.svg" alt="echo_logo" />
        <div>
            <h3>Project ECHO</h3>
            <ul>
                <li>Machine Learning and <i>Human Centred</i> Design project.</li>
                <li>Worked as part of a large multi-disciplinary team to design a custom-fitted hearing aid with AI
                    powered selective noise cancelling.</li>
            </ul>
            <p><a href="https://github.com/yourusername/project1" target="_blank">View on GitHub ↗</a> — <a
                    href="https://github.com/yourusername/project1" target="_blank">View Images ↗</a> — <button
                    class="read-more" data-modal-source="echo-read-more">Read More</button></p>
        </div>

        <div id="echo-read-more" , class="modal-template" hidden>
            <h5 hidden>Project ECHO, creating the first AI powered hearing aid</h5>
            <p style="color:red;"> work in progress</p>
        </div>

    </div>

    <div class="project">
        <img src="assets/img/sure.jpg" alt="sure test rig" />
        <div>
            <h3>Desiging a heterogenuous beam population for PBSHM</h3>
            <ul>
                <li>Research based project involving Experimental Design, Testing, and Data and Attribute Analysis
                </li>
                <li> </li>
            </ul>
            <p><a href="https://github.com/yourusername/project1" target="_blank">View on GitHub ↗</a> — <a
                    href="https://github.com/yourusername/project1" target="_blank">View Images ↗</a> — <button
                    class="read-more" data-modal-source="sure-read-more">Read More</button></p>
        </div>

        <div id="sure-read-more" class="modal-template">
            <h5 hidden> Designing a heterogenuous population of structures for health monitoring</h5>

        </div>
    </div>

    <div class="project">
        <img src="assets/img/hex.png" alt="hex landing gear" />
        <div>
            <h3>Design of an emergency landing gear system</h3>
            <ul>
                <li> </li>
                <li></li>
            </ul>
            <p><a href="https://github.com/yourusername/project1" target="_blank">View on GitHub ↗</a> — <a
                    href="https://github.com/yourusername/project1" target="_blank">View Images ↗</a></p>
        </div>
    </div>
    <!-- Duplicate .project blocks to add more projects -->
</section>