<section id="extracurriculars">
    <h2>Outside the office</h2>
    <div class="project">
        <img src="assets/icons/Yellow_txt-transp.svg" alt="Image of activity" />
        <div>
            <h3>Olympic Weightlifting coach at University Sports Club</h3>
            <ul>
                <li>1-to-1 Coaching with beginners.</li>
                <li>Organised trial events to encourage newcomers joining.</li>
                <li>Adapted the coaching style based on each trainee's needs and learning style.</li>
            </ul>
        </div>
    </div>
</section>