<h2 style="color:red;">This portfolio is a work in progress, feel free to look!</h2>
<!-- Education Section -->
<section id="profile">
    <!-- <h3>Who am I?</h3> -->
    <h3>
        Hi, I'm Adam
        <span class="wave-emoji">👋</span>
    </h3>
    <p style="text-align: justify;"> A recent Mechanical Engineering master's graduate. Looking for roles in
        Mechanical and structural Engineering, or scientific software development. I love turning mathematical and
        physical equations into
        code, and I love it even more if I can come up with those equations from observing them in action! My
        interests/favourite subjects are vibrations/waves, continuum mechanics, nonlinear systems, and applied
        mathematics. In my free time, I do and coach <i>olympic</i> weightlifting. I am outgoing and communicative.</p>
</section>