<section id="skills">
    <h2>Skills</h2>
    <h3>Technical Skills</h3>
    <div class="skills-list">
        <span class="skill"><img src="assets/icons/python.svg" alt="python logo" />Python</span>
        <span class="skill"><img src="assets/icons/matlab.svg" alt="matlab logo" />MATLAB</span>
        <span class="skill"><img src="assets/icons/julia.svg" alt="julia logo" data-light="assets/icons/julia.svg"
                data-dark="assets/icons/julia-dark.svg" /></span>
        <span class="skill"><img src="assets/icons/fortran.svg" alt="FORTRAN logo" />FORTRAN 2003-18</span>
        <span class="skill"><img src="assets/icons/C.svg" alt="C logo" />C/C++</span>
        <span class="skill"><img src="assets/icons/git.svg" alt="git logo" />git version control</span>
        <span class="skill"><img src="assets/icons/cmake.svg" alt="git logo" />CMake</span>
        <span class="skill"><img src="assets/icons/autodesk.svg" alt="autodesk" />Autodesk 2D/3D Modelling Suites</span>
        <span class="skill"><img src="assets/icons/autodesk-fusion-360-seeklogo.png" alt="autodesk" />Fusion 360
            API</span>
        <span class="skill"><img src="assets/icons/java.svg" alt="java" />JAVA</span>
        <span class="skill"><img src="assets/icons/ANSYS.svg" alt="Ansys logo" />ANSYS</span>
        <span class="skill"><img src="assets/icons/latex.svg" alt="latex logo" class="svg-black" />Typesetting</span>
        <span class="skill"><img src="assets/icons/html.svg" alt="html logo" />Simple Frontend Design</span>
    </div>

    <h3>Soft Skills</h3>
    <div class="skills-list">

        <span class="skill"><img src="assets/icons/communication.svg" alt="comm icon" class="svg-black" />Adaptive
            Communication</span>
        <span class="skill"><img src="assets/icons/conf-res.svg" alt="conflict icon" class="svg-black" />Conflict
            Resolution</span>
        <span class="skill"><img src="assets/icons/Presentation.svg" alt="pres icon"
                class="svg-black" />Presentation</span>
        <span class="skill"><img src="assets/icons/Teaching.svg" alt="conflict icon"
                class="svg-black" />Teaching/Coaching</span>
        <span class="skill"><img src="assets/icons/latex.svg" alt="latex logo" class="svg-black" />Technical
            Writing</span>
    </div>
</section>